<h1><%= @user.full_name %></h1>
<hr />
<h2>Welcome to Squawkr</h2>
<h3><%= @bio.location %></h3>
<hr />
<h4><%= @bio.age %></h4>
<hr />
<h4><%= @bio.description %></h4>
<hr />
<ul>
<p><%= @posts.each do |posts| %>
<% end %>
</ul>

<%= link_to  "Bio", bio_path(@user, @bio) %>
